body{
    background-color: black;
}
canvas{
    background-image: url(./graphic/background.jpg);
}
#canvas {
    float: left;
    margin-right: 100px;
}
#menu{
    float: left;
    color: white;
}

#wynik{
    display: none;
}